[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "creditr"]
	path = creditr
	url = https://github.com/yanrong-stacy-song/creditr
